@media (max-width:480)
{

}

@media (min-width:481) and (max-width:767)
{

}

@media (min-width:768) and (max-width:1024)
    {
     
    }
  
@media (min-width:1025) and (max-width:1200)
    {
      
    }
    @media (min-width:1201) 
    {
      
    }
 /* @media (max-width:600px)
 {
    .container 
    {
        grid-template: 50px 30px 1fr 30px/repeat(3,1fr);
    }
    .post-article
      {
        flex:1 100px;
        height: 110px;
      }
      
    
  }
@media (min-width: 600px) and (max-width:900px) 
{
  .container
    {
        display: grid;
        grid-template: 70px 50px 1fr 50px/repeat(3,1fr);
        grid-gap: 2px;
        align-items: center;
    }
  .home-article
  {
      flex: 1 ;
      padding: 10px;
  }
  .post-container
    {
      grid-template:70px 1fr 70px/repeat(3,1fr) ; 
    }
    .post-header
    {
      line-height: 60px;
    }
   
 }  
 @media (min-width:901px)
 {
    .container 
    {
        grid-template: 70px 50px 1fr 70px/repeat(3,1fr);
    }
 } 
/*@media (max-width:480)
  {

  }
@media (min-width:481) and (max-width:768)
  {

  }

  @media (min-width:769) and (max-width:1024)
    {
     
      
    .post-container
      {
        grid-template:70px 1fr 70px/repeat(3,1fr) ; 
      }
      .post-header
      {
        line-height: 60px;
      }
    }

    @media (min-width:1025) and (max-width:1200)
    {
      
    }
    @media (min-width:1201) 
    {
      
    } */ 
